* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
 font-family: 'Open Sans', sans-serif;
}

nav .navbar-brand img {
  height: 60px;
}

.text-gray {
  color: #212529;
}

.bg-pink {
  background-color: #e83e8c;
}


#products {
  padding-top: 100px;
}

footer img {
  height: 80px;
}
